.white-bg {
    -fx-background-color: #fff;
}

.radius {
    -fx-background-radius: 6px;
}


.input {
    -fx-margin-left: 10px;
    -fx-border-radius: 10px;
    -fx-border: none;
    -fx-width: 85%;
    -fx-height: 100%;
}
.input2 {
    -fx-border-radius: 5px;
    -fx-background-color: #e9e9f7;
    -fx-padding: 5px;
    -fx-width: 100%;
    -fx-color: #7a7ab3;
    -fx-border: 1px solid #dadaf7
  }
  .textfield{
    -fx-background-color: #eee;
    -fx-font-family: Tahoma;
    -fx-border-color: #188ba7;
    -fx-border-width: .5px;
}
.textfield:focused{
    -fx-border-width: 1.5px;
    -fx-background-color: #f5f5f5;
}
.login-btn{
    -fx-background-color: #188ba7;
    -fx-font-size: 14px;
    -fx-cursor:hand;
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
    -fx-background-radius: 8px;
}
.login-btn:hover{
    -fx-background-color: #adedf4;
}
.right-form{
    -fx-background-color: linear-gradient(to bottom right, #25bcbf, #3796a7);
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px 0px;
}
.left-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}

.button_Login {
    -fx-font-family: monospace;
    -fx-background-color: #f3f7fe;
    -fx-color: #3b82f6;
    -fx-border: none;
    -fx-border-radius: 8px;
    -fx-width: 100px;
    -fx-height: 45px;
    -fx-transition: .3s;
  }
  
  .check-box .box {

    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px; 
    
    }
    
    .check-box:selected .mark {
    
    -fx-background-color: white;
    
    }
    
    .check-box:selected .box {
    
    -fx-background-color: #74deec;
    }
  .button_login:hover {
    -fx-background-color: #3b82f6;
    -fx-box-shadow: 0 0 0 5px #3b83f65f;
    -fx-color: #fff;
  }
  
.textfield-1 {
    -fx-border-color: #000;
    -fx-border-width: .3px;
    -fx-font-family: Tahoma;
}

.textfield-1:focused {
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-border-width: 1px;
}

.textfield-2 {
    -fx-border-color: #000;
    -fx-border-width: .3px;
    -fx-font-family: Tahoma;
}

.textfield-2:focused {
    -fx-border-color: linear-gradient(to bottom right, #a413a1, #64308e);
    -fx-border-width: 1px;
}

.textfield-3 {
    -fx-border-color: #000;
    -fx-border-width: .3px;
    -fx-font-family: Tahoma;
}

.textfield-3:focused {
    -fx-border-color: linear-gradient(to bottom right, #a31336, #861d2a);
    -fx-border-width: 1px;
}

.btn-1 {
    -fx-background-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.btn-1:hover {
    -fx-background-color: linear-gradient(to bottom right, #11a7c9, #2765a4);
}

.btn-2 {
    -fx-background-color: #EF5484;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.btn-2:hover {
    -fx-background-color: linear-gradient(to bottom right, #EF5484, #ffffff);
}

.btn-3 {
    -fx-background-color: #7fb9ce;
    -fx-text-fill: #ffff00;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.btn-3:hover {
    -fx-background-color: #7fb9ce;
}

.side_anchorpane {
    -fx-background-color: #074874;
   

}

.border-top {
    -fx-border-color: #000000;
    -fx-border-width: .5px 0 .9px 0;
}


.nav-btn-1 {
    -fx-background-color: linear-gradient(#188ba7, #306090);
    -fx-text-fill: #fff;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    
}

.nav-btn-exit {
    -fx-background-color: transparent;
 
   
    -fx-text-fill: #fff;
    -fx-font-family: Tahoma;
    -fx-cursor: hand;
    -fx-font-size: 16px;
    -fx-alignment: CENTER;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.nav-btn-exit:hover {
    -fx-background-color: #4992b1;
    -fx-text-fill: #000;
}
.nav-btn-12 {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .5px;
    -fx-text-fill: #fff;
    -fx-font-family: Tahoma;
    -fx-cursor: hand;
    -fx-font-size: 16px;
    -fx-alignment: CENTER;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.nav-btn-12:hover {
    -fx-background-color: #4992b1;
    -fx-text-fill: #000;
}


 .userscreentop {
 
    -fx-background-color:#074874;
    
    -fx-font-family: Arial;
    -fx-cursor: hand;
  
    -fx-alignment: CENTER;
 }

 .shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 8,0,0,0);
}

.table-view{
    -fx-background-color:transparent;
    /* -fx-border-color:#adedf4; */
    /* -fx-border-radius: 8px;
    -fx-border-width: 2px; */
    -fx-padding: 0px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color: #adedf4;
    /* -fx-background-radius: 8px 8px 0px 0px; */
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-text-fill: #000000;
    -fx-font-family: Arial;
}